{{#> main }}
<h1>{{type}}</h1>
    <table>
      <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Created</th>
      <th>Authors</th>
      <th>Status</th>
      </tr>
      {{#each cips as |cip|}}
      <tr>
        <td><a href='/cips/cip{{cip.data.CIP}}'>CIP {{cip.data.CIP}}</a></td>
        <td>{{{cip.data.Title}}}</td>
        <td>{{dateFormat cip.data.Created "DD MMMM YYYY"}}</td>
        <td>
          {{{getAuthors cip.data}}}
        </td>
        <td>{{cip.data.Status}}</td>
      </tr>
      {{/each}}
    </table>
{{/main}}
